.App {
  background-color: #282c34;
  text-align: left;
  font-size: 1rem;
  color: white;
  min-height: 100vh;
  padding: 10px;
}

.app-title {
  font-size: 1.5rem;
  text-align: left;
}

.title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.table-heading {
  color: lightgreen;
}

table {
  width: 50%;
}

.date {
  width: 25%;
}

.cases {
  width: 21%;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .app-title {
    text-align: center;
  }

  table {
    width: 100%;
    font-size: .9rem;
  }

  .date {
    width: 23%;
  }

  .cases {
    width: 20%;
  }
}

.growth {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.older-toggle {
  margin: 2vh 0;
  font-size: .8rem;
  color: slategrey;
  cursor: pointer;
}

.credits {
  margin-top: 5vh;
  font-size: .8rem;
  color: lightgreen;
}
