.App {
  background-color: #282c34;
  text-align: left;
  font-size: 1rem;
  color: white;
  min-height: 100vh;
  padding: 10px;
}

.app-title {
  font-size: 1.5rem;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: white;
}

a:visited {
  color: white;
}

table {
  width: 100%;
}

td {
  width: 25%;
}

.table-heading {
  color: lightgreen;
}

.date {
  width: 25%;
}

.cases {
  width: 20%;
}

.growth {
  width: 100px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.older-toggle {
  margin: 2vh 0;
  font-size: .8rem;
  color: slategrey;
  cursor: pointer;
}

.credits {
  margin-top: 5vh;
  font-size: .8rem;
  color: lightgreen;
}
